<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <style>
        body{
            text-align: center;
            background-color: black;
        }
        p{
            color:white;
        }
        h1{
            color:white;
        }
    </style>
</head>
<body>
    <h1>Register</h1>
    <form action="/org/createOrgUserOwn" method="POST">
        <input type="text" name="firstname" placeholder="First Name"><br><br>
        <input type="text" name="lastname" placeholder="Last Name"><br><br>
        <input type="email" name="email" placeholder="Email"><br><br>
        <input type="text" name="dob" placeholder="DOB"><br><br>
        <input type="text" name="doj" placeholder="Date of Joining"><br><br>
        <input type="text" name="organizationName" placeholder="Org. Name"><br><br>
        <button type="submit">Create</button>
        <% if(isRegisterUser){ %>
            <p>User is Already Registered! in this organization</p>
        <%} %>

        <% if(isLogin){ %>
            <p>User is Registered Successfully Kindly Login</p>
        <%} %>

        <% if(isOrganization){ %>
            <p>Organization Does not Exists!</p>
        <%} %>

        <% if(isAnother){ %>
            <p>User is added to Another Organization!</p>
        <%} %>
    </form>
</body>
</html>