<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Organization</title>
    <style>
        body{
            /* background-color: aqua; */
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>This is Your New Organization</h1>
    <form action="/dashboard/createOrg" method="post">
        <input type="text" name="myName" placeholder="Enter the name of Your Organization">
        <button type="submit">Create</button>
    </form>
</body>
</html>