<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body{
            /* text-align: center; */
            background-color:black;
        }
        a{
            color:white
        }
        .center{
            text-align: center;
        }
        .white{
            color:white;
        }
        .first{
            margin-left: 200px;
            margin-top:150px;
        }
        .second{
            margin-top:-145px;
            margin-left:900px;
        }

    </style>
</head>
<body>
    <h1 class="white center">THIS IS MY HOME PAGE</h1>
    <div class="first">
        <div class="white">
            <h1>System User</h1>
        </div>
        <div>
            <a href="./login2">Login</a><br><br>
    <a href="./register">Click here to Register</a>
</div>
</div>
<div class="second">
    <div class="white">
        <h1>Organization User</h1>
    </div>
    <div>
        <a href="">Login</a><br><br>
<a href="/org/createOrgUserOwn">Click here to Register</a>
</div>
</body>
</html>