<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: aqua;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Please Enter Your OTP here</h1>
    <form action="/dashboard" method="post">
        <input type="text" name="otp" placeholder="Enter Your OTP">
        <button type="submit">OK</button>
    </form>
</body>
</html>