<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <h1>HERE THE REGISTRATION GOES</h1>   
    <form action="/login" method="post">
        <input type="text" name="name" placeholder="Enter your name"><br><br>
        <input type="email" name="myEmail" placeholder="Enter your Email"><br><br>
        <button type="submit">Register</button>
        <% if(isRegister){ %>
            <p>User is Already Present Kindly Login !!</p>
            <a href="/login2">Login</a>
        <% } %>
    </form>
    <!-- <script>
        function pratik(){
            windows.location.href="/login"
        }
    </script> -->
    <script src="/js/register.js"></script>
</body>
</html>